@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300&display=swap');

nav{
    display: flex;
    align-items: center;
    background-color: black;
    height: 90px;
    padding: 30px 25px;
    margin-top: 20px;
}

nav > h4{
    color: white;
    font-size: 30px;
    font-weight: bold;

}

nav > h3, nav > h4> {
    margin: 0
}

nav > h3{
    margin-right: auto;
    color: rgb(93, 198, 206);
}

nav > img {
    height: 110px;
    margin-right: 7px;
    border-radius: 50%;
}